body, main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #b1afaf;
    color: #140e0e;
}

.logo, .nav {
    padding: 10px;
    background-color: #5f9667;
}

.splash, .process {
    text-align: center;
    padding: 20px;
    background-color: #b1afaf;
    flex-grow: 1; 
    margin: 20px; 
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #b1afaf;
    height: 200px; 
}

.item {
    flex: 1;
    padding: 20px;
    background: #5f9667;
    margin: 0 10px;
}

.item:nth-child(1) {
    height: 50px; 
}

.item:nth-child(2) {
    height: 100px; 
}

.item:nth-child(3) {
    height: 150px; 
}

.footer {
    padding: 10px;
    background-color: #b1afaf;
    color: #140e0e;
    text-align: center;
    padding: 20px;
}
@media screen and (min-width: 768px) {
    main {
        display: flex;
    }

    .splash, .process {
        flex: 1;
        order: 1;
        width: 50%;
        text-align: center;
    }

    .flex-container {
        display: flex; 
        flex-direction: row-reverse; 
        flex: 1;
        order: 2;
        margin: 20px;
    }

    .item {
        margin: 10px;
    }
    
    .nav {
        width: 33%;
    }
}